div(class="cart_page_summary")
  h3 Tóm tắt thanh toán
  ul(cart-summary)
    li
      a.img(href=`/product/detail/:slug`)
        img.img-fluid.w-100(
          alt="Sản phẩm 1" 
          src="/client/assets/images/product_18.png"
          )
      .text
        a.title(href=`/product/detail/:slug`) Sản phẩm 1
        p 1.000.000đ × 2
        p Màu sắc: Đỏ
        p Kích cỡ: Size M
  h6
    | Tạm tính
    span
      span(sub-total) 0
      span đ
  h6
    | Giảm giá
    span
      span(discount) 0
      span đ
  h4
    | Tổng tiền
    span
      span(total) 0
      span đ
  form(action="#")
    input(
      placeholder="Mã giảm giá" 
      type="text"
      )
    button(
      class="common_btn" 
      type="submit"
      ) Áp dụng
    p
      | Mã giảm giá: HEM4556JL
      a(href="#")
        i.fal.fa-times